.toggle-switch {
    --switch-color: var(--colors-primarybuttonbg);
    --switch-inner: var(--colors-inputbg);
    position: relative;
    margin-right: 10px;
    width: 75px;
    display: inline-block;
    vertical-align: middle;
    user-select: none;
    text-align: left;
    input[type="checkbox"] {
        display: none;
    }
    label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border-radius: 20px;
        margin: 0;
        &:focus {
            outline: none;
            > .toggle-switch-switch {
                box-shadow: 0 0 2px 5px var(--switch-color);
            }
        }
        > span:focus {
            outline: none;
        }
    }
    .toggle-switch-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
        &:before,
        &:after {
            display: block;
            float: left;
            width: 50%;
            height: 34px;
            padding: 0;
            line-height: 34px;
            font-size: 14px;
            color: var(--colors-text);
            font-weight: bold;
            box-sizing: border-box;
        }
        &:before {
            content: attr(data-yes);
            text-transform: uppercase;
            padding-left: 10px;
            background-color: var(--switch-color);
            color: #fff;
        }
    }
    .toggle-switch-disabled {
        /* background-color: #eee; */
        opacity: 0.5;
        cursor: not-allowed;
        &:before {
            /* background-color: #eee; */
            cursor: not-allowed;
        }
    }
    .toggle-switch-inner:after {
        content: attr(data-no);
        text-transform: uppercase;
        padding-right: 10px;
        background-color: var(--colors-inputbg);
        color: var(--colors-text);
        text-align: right;
    }
    .toggle-switch-switch {
        display: block;
        width: 24px;
        margin: 5px;
        background: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 40px;
        border-radius: 20px;
        transition: all 0.3s ease-in 0s;
    }
    input[type="checkbox"]:checked + label {
        .toggle-switch-inner {
            margin-left: 0;
            &:before {
                color: var(--colors-primarybuttoncolor);
            }
        }
        .toggle-switch-switch {
            right: 0px;
        }
    }
    &.small-switch {
        width: 40px;
        .toggle-switch-inner {
            &:after,
            &:before {
                content: "";
                height: 20px;
                line-height: 20px;
            }
        }
        .toggle-switch-switch {
            width: 16px;
            right: 20px;
            margin: 2px;
        }
    }
}

@media (prefers-color-scheme: light) {
    :root:not(.dark) .toggle-switch {
        --switch-inner: #eeeeee;
    }
}
