.user-card {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--colors-silver);
    h4 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--colors-text);
    }
}
